package routers

import (
	"github.com/gin-gonic/gin"
	"{{.ModName}}/controllers"

)

type {{ .Name }} struct {
}


func ({{ .Name }} {{ .Name }} ) handle(router *gin.RouterGroup) {
	// var SampleController controllers.SampleController
    // router.Use(middlewares.Sample()) 

	// router.GET("", SampleController.Index)
	// router.POST("", SampleController.Create)
	// router.GET("/:id", SampleController.Read)
	// router.PATCH("/:id", SampleController.Update)
	// router.DELETE("/:id", SampleController.Delete)
}
