package routers

import (
	"github.com/gin-gonic/gin"
)

type {{ .Name }} struct {
}


func ({{ .Name }} {{ .Name }} ) handle(router *gin.RouterGroup) {
	// router.GET("/", "controller function here" )
}
